.dados-tabela {
    background-color: #424250;
    color: #fff;
}

.titulo-moda {
    background-color: #bb86fc;
    color: #fff;
    text-align: center;
}

.titulo-casa {
    background-color: #00c4b4;
    color: #fff;
    text-align: center;
}